@import "./variables";

@mixin vertical-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

@mixin vertical-list-no-align {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin center-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-box-item {
  display: flex;
  justify-content: space-between;
}

@mixin btn-style {
  border-radius: $br;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  background-color: $bg-color2;
  color: $bg-color1;
}

@mixin input-style {
  border-radius: $br;
  border: 1px solid $border-color;
  background-color: $bg-color1;
  padding-left: 15px;
}

@mixin header-style {
  font-size: 36px;
  font-weight: 700;
}

@mixin para-style {
  font-size: 18px;
  font-weight: 500;
  line-height: 34px;
}

@mixin mobile-header {
  color: $header-text-color;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

@mixin mobile-para {
  color: $header-text-color;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 29px;
}
