$bg-color1: #fff;
$bg-color2: #223c6a;
$bg-color3: #f58634;
$btn-text-color: #223c6a;
$header-text-color: #2f2e41;
$para-text-color: #4f4f4f;
$placeholde-text-color: #7a7a7a;
$br: 4px;
$border-color: #c0c0c0;
$mobile-text: #858585;
